<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="grapevine" xsi:type="File"
                    layout="${longdate:universalTime=True} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message} ${onexception:${newline}${exception:format=data}${newline}${exception:format=tostring}}"
                    fileName="${basedir}/logs/grapevine.log"
                    archiveEvery="Day"
                    archiveAboveSize="10485760"
                    archiveNumbering="Sequence"
                    archiveFileName="${basedir}/logs/trace.${shortdate}.{##}.log"
                    maxArchiveFiles="7"
                    keepFileOpen="true"/>
        </targets>
        <rules>
            <logger name="Grapevine.Local.*" minlevel="Error" writeTo="grapevine" final="true" />
        </rules>
    </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>